# Object files
*.o

# Libraries
*.lib
*.a
*.pyc

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Other
*.pdf
*.m
*.html
*.jpg
*.jpeg
*.bmp

*.7z
*.bak*